[run]
branch = True
source = tensorkit

[report]
exclude_lines =
    pragma: no cover
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    RuntimeError\(f'Backend \{settings\.backend\} not supported.'\)
ignore_errors = True
omit =
    tests/*
    scripts/*
    tensorkit/backend/pytorch_/_make_dtypes_mapper.py
    setup.py
    *.pyt
