-r requirements.txt

pytest
pytest-cov
pytest-doctest-import >= 0.1.1
pytest-forked >= 1.1.3
coveralls >= 1.11.1

mock >= 2.0.0
numba

# dependencies required only for running the examples
imageio >= 2.3.0
scikit-learn >= 0.20
matplotlib >= 2.1.0
git+https://github.com/haowen-xu/mlsnippet.git
